.hit-point-results-table-header {
    @apply grid grid-cols-3 grid-rows-1 items-center gap-[3ch] pb-[1ch];
}

.hit-point-results-table-button {
    @apply opacity-100 md:opacity-0 transition-opacity;
    @apply text-xs;
    @apply flex items-center gap-1;
}

.hit-point-results-table-button svg {
    @apply w-4 h-4;
}

.hit-point-results-table-button-copy {
    @apply order-1 col-start-1 justify-start text-left;
}

.hit-point-results-table-button-delete {
    @apply order-3 col-start-3 justify-end text-right;
}

.hit-point-results-table-heading {
    @apply order-2 col-start-2 text-center;
    @apply text-2xl md:text-3xl;
    @apply text-gray-500;
}

.hit-point-results-table-heading strong {
    @apply font-semibold;
}

.hit-point-results-table-container:hover .hit-point-results-table-button {
    @apply md:opacity-100;
}

.hit-point-results-table {
    @apply w-full;
}

.hit-point-results-table tbody {
    @apply text-xl md:text-4xl;
}

.hit-point-results-table-result {
    @apply min-w-[4ch] min-h-[1rem] py-[0.5ch] align-baseline;
    @apply text-center font-medium;
    @apply border-b border-gray-400;
}

.hit-point-results-table tfoot {
    @apply text-sm md:text-base;
}

.hit-point-results-table tfoot th {
    @apply font-normal text-gray-500;
}

/* region Empty state */
.hit-point-results-table:has(td:empty) .hit-point-results-table-result,
.hit-point-results-table:has(td:empty) th {
    @apply border-gray-200;
    @apply text-gray-300;
    @apply font-light;
}

.hit-point-results-table td:empty:after {
    content: '-';
}

/* region Results */
.hit-point-results-table-result-minimum:not(:empty) {
    font-size: 60%;
}

.hit-point-results-table-result-weak:not(:empty) {
    font-size: 70%;
}

.hit-point-results-table-result-average:not(:empty) {
    font-size: 80%;
}

.hit-point-results-table-result-average:not(:empty) {
    @apply bg-gray-100;
}

.hit-point-results-table-result-strong:not(:empty) {
    font-size: 90%;
}
/* endregion */