@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAFA;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

strong {
  @apply font-medium;
}

@layer utilities {
  .main-layout {
    @apply w-full grid grid-cols-[1rem_1fr_1rem];
  }

  .main-layout-content {
    @apply col-start-2 container max-w-full sm:max-w-2xl mx-auto;
  }

  .text-balance {
    text-wrap: balance;
  }

  .link {
    @apply underline;
  }

  .text-button {
    @apply text-neutral-500;
  }

  .text-light {
    @apply text-neutral-500;
  }

  .text-lighter {
    @apply text-neutral-300
  }

  .text-lightest {
    @apply text-neutral-200
  }

  .text-error {
    @apply text-red-500;
  }

  .input-border {
    @apply border-2 border-neutral-400 focus-visible:outline-none focus-visible:border-black;
  }

  .input {
    @apply p-1 bg-transparent text-black placeholder-neutral-200 rounded-sm;
    @apply input-border;
  }

  .input-lg {
    @apply input;
    @apply text-2xl md:text-3xl;
    @apply px-2 py-3;
    border-width: 3px;
  }

  .input-xl {
    @apply input-lg;
    @apply py-4;
    @apply text-4xl md:text-5xl;
  }

  .button {
    @apply bg-black text-white dark:invert rounded;
  }
}